* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: white;
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px hsl(0, 0%, 96%), -2px -2px 4px #f5f5f5;
}
.about img {
  border-radius: 8px;
}
.about {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#btn {
  height: 40px;
  width: 100px;
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: blue;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn:hover {
  background-color: white;
  color: black;
}
#btn-2 {
  /*  font-family: "Times New Roman", Times, serif; */
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 2px #f5f5f5, -2px -2px 2px #f5f5f5;
}
#btn-2:hover {
  box-shadow: 2px 2px 3px #f5f5f5, -2px -2px 3px #f5f5f5;
  color: rgb(24, 3, 3);
  background-color: red;
}
.container p {
  color: rgb(104, 100, 100);
  font-size: large;
  /*  font-family: Georgia, "Times New Roman", Times, serif; */
}

span {
  display: block;
  font-size: 16px;
  color: black;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-left: 20px;
  cursor: pointer;
}
.all-container {
  display: flex;
  width: 80%;
  margin: 40px auto;
  flex-wrap: wrap;
  overflow-x: hidden;
}
@media (max-width: 678px) {
  .all-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .about {
    display: flex;
    align-items: center;
  }
  .container {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .skill-section {
    margin-bottom: 20px;
  }
  .main-services {
    flex-direction: column;
    justify-content: center;
  }
  #design {
    width: 100%;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    display: none;
  }
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .hero {
    margin-top: 500px;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  #menu {
    margin-left: 0px;
    display: block;
  }
  .menu-bar {
    justify-content: flex-start;
    align-items: center;
  }
}
nav {
  background-color: black;
  width: 100%;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.links {
  display: flex;
  padding: 0px 10px 0px 10px;
}
.links li {
  padding: 10px;
}
.links li a {
  font-size: 20px;
  color: white;
  font-weight: bold;
  /*  font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
}
.links li a:hover {
  border-bottom: 2px solid white;
  padding: 8px;
  border-radius: 6px;
  background-color: red;
}
.hero {
  width: 100%;
  min-height: 400px;
  background-image: url("./hero.png");
  filter: blur(opx);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  backface-visibility: visible;
  background-attachment: fixed;
  z-index: 9;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2,
small {
  font-size: 30px;
  color: white;
}
#contact-btn {
  font-size: 20px;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.contact-button {
  margin-top: 20px;
}
.container {
  width: 100%;
  display: flex;
}
.about-content {
  background-color: #f7f7f7;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
}
.skill {
  display: flex;
  flex-direction: column;
}
.html-skill {
  width: 100%;
  height: 10px;
  background-color: #c7bfbf;
  border-radius: 20px;
  padding: 0;
}
.skill-percentage {
  width: 90%;
  height: 100%;
  margin-left: 0;
  border-radius: 20px;
  animation-name: html;
  animation-duration: 1s;
  background-color: blue;
}
.css-percentage {
  width: 85%;
  height: 100%;
  margin-left: 0;
  border-radius: 20px;
  animation-name: css;
  animation-duration: 1s;
  background-color: blue;
}
.java-percentage {
  width: 80%;
  height: 100%;
  margin-left: 0;
  border-radius: 20px;
  animation-name: java;
  animation-duration: 1s;
  background-color: blue;
}
.python-percentage {
  width: 80%;
  height: 100%;
  margin-left: 0;
  border-radius: 20px;
  animation-name: python;
  animation-duration: 1s;
  background-color: blue;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
.skill h2 {
  font-size: 20px;
  /*  font-family: Arial, Helvetica, sans-serif; */
  color: #22fafa;
}
.skill h1 {
  font-size: 20px;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  border-bottom: 2px solid black;
}
.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto 10px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
}
.main-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: #fafafa;
  margin: 20px;
  border-radius: 8px;
  padding: 20px 0px 0px 0px;
  transition: all 0.6s;
}
.design h2 {
  justify-self: flex-end;
}
.app {
  background-color: #22fafa;
  width: 100%;
  margin: 10px 0px 0px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.design img {
  align-self: center;
  justify-self: center;
}
.courgette-regular {
  /* font-family: "Courgette", cursive; */
  font-weight: 400;
  font-style: normal;
}
.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu {
  padding: 10px;
  margin: auto 20px auto 20px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 1s;
}
.show {
  display: none;
}
#menu:hover {
  background-color: rgb(173, 12, 12);
}
.about img {
  transition: all 0.8s;
}
.about img:hover {
  transform: scale(1.2);
}
.design:hover {
  transform: scale(1.05);
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
footer .contact-section {
  display: flex;
  list-style: none;
}
footer .contact-section li a {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 0px 10px 0px 0px;
  font-size: 15px;
  background-color: rgb(60, 60, 198);
  display: block;
  width: 100px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 8px;
  transition: all 0.5s;
}
.contact-section a:hover {
  background-color: rgb(104, 104, 245);
}
nav {
  transition: all 0.5s;
  background: transparent;
  color: #08bcbc;
}
@media (min-width: 648px) {
  .links li a{
    color: #08bcbc;
  }
  .hero {
    margin-top: 0;
    height: 100vh;
  }
  #open-btn,
  #close-btn {
    display: none;
  }
}
@media (max-width: 678px) {
  nav {
    padding: 0%;
    height: 10px;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #fafafa;
    color: black;
  }
  .menu-bar {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 20px;
    border: none;
    padding: 0;
    /*  background-color: white; */
    font-size: 20px;
  }
  #open-btn {
    cursor: pointer;
    top: 0px;
    left: 20px;
    border: none;
    background-color: white;
    font-size: 20px;
  }
  .links {
    transition: transform 0.75s;
    position: relative;
    background-color: black;
    width: 100%;
    margin: auto;
    height: 100vh;
    padding-top: 30px;
  }
  .hide-menu {
    transform: translateY(-100%);
  }
  #close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  #contact li a {
    font-size: 15px;
  }
  #contact li {
    text-align: center;
  }
  footer {
    padding: 30px;
  }
}
/* addition of active class */
.active {
  border-bottom: 2px solid white;
}
